* {
    font-family: "Silkscreen", sans-serif;
}

html {
    color-scheme: dark light;
}

body {
    background-color: light-dark(#384d48, #0f0f0f);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* designing background of calculator */
.calc {
    background-color: light-dark(#555858, #2e2e2e);
    padding: 20px;
    border-radius: 20px;
    box-shadow: -2px 1px 5px light-dark(#353533, #0f0f0f), 3px 1px 5px light-dark(#353533, #0f0f0f);
    border-style: solid;
    border-color: #353533;
    border-width: 1px;

}

/* styling buttons */
.calc form input { 
    border: 1px;
    border-style: solid;
    box-shadow: -2px 1px 5px light-dark(#353533, #3ee74c), 3px 1px 5px light-dark(#353533, #3ee74c);
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: transparent;
    font-size: 25px;
    color: rgb(206, 147, 39);
    cursor: pointer;
    margin: 10px;
    border-color: light-dark(rgb(206, 147, 39), #3ee74c)
    
}

.btn:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

#red {
    color: red;
    box-shadow: -2px 1px 5px light-dark(#383836, #3ee74c), 3px 1px 5px light-dark(#383836, #3ee74c);
}

#equals {
    width: 145px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    background-color: light-dark(rgb(206, 147, 39), rgb(160, 120, 47));
    color: black;
    box-shadow: none;
    border-radius: 10px;
}

@media only screen and (max-width: 404px) and (min-width: 360px) {
    .container {
        width: 100%;
    }

    .calc form input {
        margin: 3.5px;
    }
}
